/* ==========================================================================
   Default Colors
   ========================================================================== */

@light-gray: lighten(@gray, 60%);
@gray: #484848;
@dark-gray: darken(@gray, 55%);

@white: #fff;

@black: #000;

@light-blue: lighten(@blue, 10%);
@blue: #0496d3;
@dark-blue: darken(@blue, 10%);

@green: #72b972;

@red: #d13a30;

@light-yellow: lighten(@yellow, 10%);
@yellow: #ffd34b;

@orange: #f47b25;